/* Estilos generales */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

/* Contenedor de la bandera */
.flag-container {
    display: flex;
    width: 70%;
    height: 300px;
    border: 2px solid black;
    margin-bottom: 20px;
}

/* Cada banda de la bandera */
.band {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Colores iniciales */
#green {
    background-color: rgb(0, 104, 71); /* Verde inicial */
}

.white {
    background-color: white;
}

#red {
    background-color: rgb(206, 17, 38); /* Rojo inicial */
}

/* Escudo */
.escudo {
    height: 70%;
}

/* Estilos para los controles */
.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input[type="range"] {
    width: 300px;
    margin-bottom: 20px;
}
